*,::after,::before{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

body{
  margin: 0 100px;
  background-color: rgb(163, 192, 255);
}

.nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.nav .logo h1{
  font-weight: 600;
  font-family: sans-serif;
  color: blck;
}

.nav .logo b{
  color: blue;
}

.nav ul{
  display: flex;
  list-style: none;
}

.nav ul li{
  margin-right: 30px;
}

.nav ul li a{
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-family: sans-serif;
  font-size: 17px;
}

.nav ul .active::after{
  content: '';
  width: 50%;
  height: 3px;
  background-color: blue;
  display: flex;
  position: relative;
  margin-left: 10px;
}

input{
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
}

.content{
  display: grid;
  grid-template-columns: 50% auto;
  gap: 30px;
  margin-top: 120px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.content .content-left{
  display: block;
  width: 100%;
}

.content .content-left .info{
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.content .content-left .info h2{
  font-size: 60px;
  font-family: sans-serif;
  margin-bottom: 30px;
}

.content .content-left .info p{
  font-size: 23px;
  line-height: 2pc;
  margin-bottom: 30px;
  font-family: sans-serif;
}

.galeri {
  padding: 50px 0;
  margin-top: 80px;
}
.galeri h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.galeri .boxGaleri {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 50px;
}
.galeri .boxGaleri .perBox {
  position: relative;
  margin: 10px;
  width: 350px;
  height: 200px;
  overflow: hidden;
}
.galeri .boxGaleri .perBox img {
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.galeri .boxGaleri .perBox h3 {
  position: absolute;
  bottom: -8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  left: 0;
  padding-left: 5px;
  color: #fff;
  width: 100%;
  height: 40px;
  background-color: #0069d9;
  font-size: 1rem;
}
.galeri .boxGaleri .perBox:hover img {
  opacity: 0.6;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.dropbtn {
  background-color: rgb(163, 192, 255);
  color: black;
  padding: none;
  font-weight: 500;
  font-size: 16px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(163, 192, 255);
  min-width: 200px;
  z-index: 1;
}
.dropdown-content a {
  color: #000000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color:#ffffff}
.dropdown:hover .dropdown-content{display: block;}
.dropdown:hover.dropbtn{background-color: grey;}